@font-face {
    font-family: "NeueMachina-Regular";
    src: url("assets/fonts/NeueMachina-Regular.otf");
}

@font-face {
    font-family: "NeueMachina-Light";
    src: url("assets/fonts/NeueMachina-Light.otf");
}

@font-face {
    font-family: "NeueMachina-Ultrabold";
    src: url("assets/fonts/NeueMachina-Ultrabold.otf");
}

/* COLOR */

body {
    font-family: "NeueMachina-Regular", sans-serif;
    margin: 0 auto;
    padding: 0;
}

.white {
    color: white !important;
}

/* WRAPPERS */
.main-wrapper {
    position: relative;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index: 1 !important;
    width: 100%;
    background-color: #fff;
}

.chapter {
    margin-top: 1rem;
    z-index: 1 important!;
    position: relative;
    grid-column: 2/12;
    border-bottom: 2px solid black;
}

/* HEADER MENU */

header {
    z-index: 50 !important;
    position: absolute;
}

nav {
    height: 6rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 50 !important;
}

header ul {
    list-style: none;
    overflow: hidden;
}

header ul li a {
    text-decoration: none;
    color: gainsboro;
    transition: 0.3s ease-in-out;
}

header ul li a:hover {
    text-decoration: none;
    color: #003b7a;

}

ul#navi li {
    padding: 1rem 2rem 1rem 0rem;
    font-family: "NeueMachina-Light", sans-serif;
    font-size: 1.5rem;
    color: #003b7a;
}
ul#navi .thesis {
    top: 0;
    left: 2rem;
    float: left;
}

ul#navi .about {
    top: 0;
    right: 2rem;
    float: right;
}

/*LISTE*/
.sample-list {
    text-decoration: none;
    line-height: 2rem;
    font-size: 1.4rem;
}

.sample-file {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sample-file:hover {
    color: #003b7a;
}

/*ACCORDION*/

.accordion {
    color: #444;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
 .accordion:hover {
    color: #003b7a !important;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1.5rem;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(.42,.94,1,.99)
  }

/*TEXT STYLES*/
.title-text {
    font-family: "NeueMachina-Regular", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
    line-height: 2.8rem;
    text-transform: uppercase;
}

.track {
  font-family: "NeueMachina-Ultrabold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #003b7a;
  letter-spacing: 0.1rem;
}

/*VIDEO*/

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0;
    opacity: 1;
    filter: alpha(opacity=0);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 30;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    max-height: 360px;
    border: 2px solid #000000;
    background: #000000;
    z-index: 1002 !important;
    overflow: hidden;
  }

  #light-2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    max-height: 360px;
    border: 2px solid #000000;
    background: #000000;
    z-index: 1002 !important;
    overflow: hidden;
  }
  
  #boxclose {
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
    opacity: 1;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }

  .wip {
      color: rgb(211, 209, 209);
  }


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /*TEXT STYLES*/

.title-text {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

#light {
    top: 0rem;
  }

    
  }

  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .title-text {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .title-text {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    
  }
  